#logo-container{
  color:goldenrod;
  font-family: 'Nova Flat', cursive;
}
.btn, .btn-large {
  text-decoration: none;
  color:#daa520 ;
  background-color: black;
  text-align: center;
  letter-spacing: .5px;
  -webkit-transition: .2s ease-out;
  transition: .2s ease-out;
  cursor: pointer;
  font-family: 'Nova Flat', cursive;
}

.btn:hover, .btn-large:hover {
    background-color:#daa520;
    color:black;
}
btn:focus, .btn-large:focus, .btn-floating:focus {
    background-color: black;
    color:red;
}

h1,h5{
  font-family: 'Nova Flat', cursive;
  font-weight: bold;
}
a{
  color:#daa520;
}

nav {
  height: 150px;

}

.linkedin{
  float:left;
}

.github{
  float:right;
}

.gmail{
  float:right;
}

.linkedinfoot{
  margin:-10px;

}

.githubfoot{
  margin-top: 23px;
  margin-right: -23px;
}

.gmailfoot{
 margin-right: -1px;
  margin-left: 27px;
}
.aboutmetitle{
  font-family: 'Berkshire Swash', cursive;
  color:#daa520 ;
}
#aboutme{
  font-family: 'Nova Flat', cursive;
}
#techused{

  font-family: 'Indie Flower', cursive;
}
#name{
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 1);
}
#Projects{
  font-family: 'Berkshire Swash', cursive;
}

#Checkwithme{
  color:#daa520;
  font-family: 'Berkshire Swash', cursive;

}

#cardtitle{
  font-family: 'Rozha One', serif;
  font-weight: bold;
}
