/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

nav ul a,
nav .brand-logo {
  color: #daa520;
  font-family: 'Nova Flat', cursive;
  font-size: 1.3em;
}

p {
  line-height: 2rem;
}

.button-collapse {
  color: #daa520;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }


@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 0;
  }
  #index-banner .section {
    top: 10%;
  }
}


@media only screen and (max-width : 600px) {
  .parallax-container .section {
    position: absolute;
    top: 0;
  }
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
.row .col.s10 {
  width: 22.333333%;
  margin:auto;
  left: auto;
  right: auto;
  display:inline-block;
}
#section2{
  padding: 1em;
  float: left;
  margin-left: 10rem;
  margin-right: 2rem;
}

.firebase{
  margin-left: 1rem;
}

.heroku{
  margin-left: 2rem;
}

.mysql{
  margin-left: 2rem;
}
.hello{
  color:goldenrod;

}

.side-nav li > a {
    color:#daa520;
    font-family: 'Berkshire Swash', cursive;
    display: block;
    font-size: 16px;
    font-weight: 500;
    height: 48px;
    line-height: 48px;
    padding: 0 32px;
}

.side-nav {
  background:black;
}

.namefooter{
  color:red;
}
